# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/

# Environment
.env

# Build
build/
dist/

# Database
*.sqlite3

# MacOS
.DS_Store

# Logs
*.log

# Misc
*.swp
*.swo
.idea/
.vscode/
